@media (min-width:1900px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px;
        padding: 0;
    }

}

@media (max-width:1300px) {
}

@media (max-width:1199px) {
    .tp-heade-rgt li a.fltr-btn {
        display: block;
    }

    .theame-header .header-filter {
        display: none;
    }

    .space {
        padding-top: 9rem;
    }

    .compression-img img {
        width: 145px;
    }

    .compression-remove {
        right: 51%;
        width: 35px;
        height: 30px;
        font-size: 16px;
    }

    .blog-sec-innr {
        height: 440px;
        padding: 20px 20px 0 20px;
    }

    .blog-list {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .blog-sec-innr .blog-content h1 {
        font-size: 25px;
    }

    .blog-list-innr {
        margin-bottom: 1rem;
    }

    .bannr-sec .bannr-content h1 {
        font-size: 18px;
        line-height: 30px;
    }

    .blog-dtl-content h4.fz-20 {
        font-size: 16px;
    }

    .blog-dtl-content p {
        font-size: 13px;
    }

    .blog-dtl-content-lst li {
        font-size: 13px;
        line-height: 26px;
    }

    .testi-profile-img img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .testimonial.p-20 {
        padding: 10px;
    }

    .testi-profile-cntnt h4 {
        font-size: 13px;
    }

    .testi-profile-cntnt p span {
        font-size: 12px;
    }

    .testimonial-profile {
        align-items: flex-start;
    }
    .bannr-sec.about .fz-14{
        line-height: 28px;
    }
    .service-bnnr {
    padding: 2rem;
        background-position: center;
}
.service-bnnr-cntnt ul li {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 13px;
}
.agent-slider-img img {
    height: 250px;
}
.agent-sec .item {
    height: 320px;
}

.agent-sec h3.expert {
    font-size: 28px;
}
.heading-content h3 {
    font-size: 12px;
}
.preperty-agent-profile-img h4.fz-20.text-center, .preperty-agent-profile-rgt .fz-20.primary-clr.text-uppercase {
    font-size: 15px;
}
 .agent-slider-img {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:1400) and (min-width:992) {
}

@media screen and (max-width:991px) {
    .container, .container-md, .container-sm {
        max-width: 900px;
    }

    .thm-footer.tp-space {
        padding-bottom: 0;
    }

    .copyright-lnk {
        text-align: center;
    }

    p {
        font-size: 13px;
        line-height: 25px;
    }

    .thm-btn {
        padding: 8px 15px;
        font-size: 15px;
    }

    .tp-heade-rgt ul {
        justify-content: space-between;
    }

    .theame-header .navbar .navbar-toggler {
        width: 46px;
        height: 50px;
        padding: 0 10px;
        border-radius: 4px;
        text-align: center;
        border: none;
        outline: none;
        z-index: 110;
        background: linear-gradient(180deg, #c1a177 0%, #764D17 100%);
    }

    .theame-header .navbar .navbar-toggler span {
        width: 29px;
        height: 3px;
        background: #fff;
        display: block;
        margin: 3px auto 3px auto;
        position: relative;
        top: 0;
        opacity: 1;
        float: right;
        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
        border-radius: 10px;
    }

    .theame-header .navbar .navbar-toggler span:nth-child(2) {
        width: 25px;
    }

    .theame-header .navbar .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -9px;
    }

    .theame-header .navbar .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }

    .theame-header .navbar .navbar-toggler[aria-expanded="true"] span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 9px;
    }

    .theame-header .navbar .nav-item {
        margin-left: 0;
        margin-top: 10px;
    }

    .about-lft-img img {
        margin-top: 0px;
    }

    .about-lft-img {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .about-sec p.mb-5 {
        font-size: 13px;
    }

    .about-count-innr {
        text-align: center;
    }

    .about-count .about-count-innr h4 {
        font-size: 18px;
    }

    .about-count .about-count-innr p {
        font-size: 12px;
    }

    .agent-sec h3.expert {
        font-size: 30px;
        margin-bottom: 0.5rem;
    }

    .heading-content h3 {
        font-size: 15px;
        margin-bottom: 9px;
    }

    .heading {
        align-items: center;
        margin-bottom: 1rem;
    }

    .agent-inqury .thm-btn {
        padding: 12px 15px;
        font-size: 18px;
    }

    .product-img img {
        height: 200px;
        object-position: bottom;
    }

    .product-content {
        padding: 5px 5px 0px 5px;
    }

    .project-slider-contnt {
        padding: 1rem 1rem;
    }

    .review-rating {
        padding: 5px;
    }

    .review-rating h3 {
        font-size: 40px;
        margin: 1rem 0;
    }

    .review-rating li a {
        font-size: 13px;
        margin-right: 1px;
    }

    .reviews-innr h5 {
        font-size: 12px;
    }

    .review-rgt h4 {
        display: block;
    }

    .review-slider-innr {
        padding: 5px;
    }

    .review-slider-innr p {
        font-size: 10px;
        line-height: 20px;
    }

    .review-slider-item .review-slider-innr-star {
        display: block;
    }

    .review-slider-item .review-slider-innr-star h5 {
        font-size: 13px;
    }

    .review-slider-item img {
        width: 40px !important;
        height: 40px !important;
        margin-top: 0rem;
        z-index: 999;
        position: relative;
        margin-left: 0;
    }

    .review-slider-innr::after {
        display: none;
    }

    .partner-innr img {
        height: 100px;
    }

    .ofc-location .item {
        height: 300px;
    }

    .location-innr img {
        object-fit: contain;
        height: 250px;
    }

    .ftr-lnk li a {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .ftr-contact .ftr-btn {
        width: 200px;
    }

    .copyright-lnk li a {
        padding-right: 5px;
        font-size: 13px;
    }

    .property-dtl .property-nme {
        font-size: 18px;
    }

    .property-filter-lft h5 {
        font-size: 20px;
    }

    .property-filter-lft {
        align-items: center;
    }
.preperty-agent-profile-img h4.fz-20.text-center, .preperty-agent-profile-rgt .fz-20.primary-clr.text-uppercase {
        font-size: 15px;
    }

    .preperty-agent-profile-rgt label.fw-400.primary-clr.fz-16 {
        font-size: 11px;
    }

   

    .subhead {
        font-size: 15px;
    }

    .subhead a.fz-16 {
        font-size: 14px;
    }

    .blog-sec-innr {
        height: 330px;
        background-position: right center;
    }

    .contact-innr h5.fz-20 {
        font-size: 15px;
    }

    .contact-innr a {
        font-size: 12px;
    }

    .contact-innr.p-20 {
        padding: 10px;
    }

    .compression-innr table tbody td {
        padding: 0.5rem 8px;
        font-size: 13px;
    }
    .inquiry-btn .product-social a {
    width: 100px;
}

}

@media screen and (max-width:767px) {
    .product-img .product-rating {
        top: 5px;
        padding: 5px 15px;
        font-size: 10px;
    }

    .product-content h4 a {
        font-size: 12px;
    }

    .product-content p {
        font-size: 10px;
    }

    .product-amenties span {
        font-size: 10px;
        padding: 0 4px;
    }

    .product-prc a {
        font-size: 14px;
        margin-left: 5px;
    }

    .product-social a {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }

    .new-head.heading p {
        font-size: 12px;
    }

    .review-rating h3 {
        font-size: 30px;
        margin: 0.3rem 0;
    }

    .review-rating  p {
        font-size: 10px;
    }

    .reviews-innr img {
        width: 40px;
    }

    .thm-footer .text-end {
        text-align: left !important;
        margin-top: 1rem;
    }

    /* .heading-content {
         display: none;
     }*/
    .copyright-lnk li a {
        padding-right: 2px;
        font-size: 12px;
        border-color: transparent;
    }

    .copyright {
        padding: 5px 0;
    }

    .frst-img img {
        height: 220px;
    }

    .property-gllery .gallery-slider .item img {
        height: 450px;
    }

    .property-dtl .property-nme {
        font-size: 15px;
    }

    .properti-amenties-lft li {
        margin-right: 5px;
    }

    .properti-amenties-lft li p {
        font-size: 12px;
    }

    .properti-amenties-rgt a {
        padding: 5px;
    }

    .facilities-card-innr h5 {
        font-size: 12px;
    }

    .nearby-amenties-content h4 {
        font-size: 15px;
    }

    .nearby-amenties-content h5 {
        font-size: 13px;
    }

    .nearby-area .agent-slider-img img {
        height: 250px;
    }

    .prfl-card-btn a {
        border-radius: 5px;
        padding: 10px 15px;
    }

    .blog-sec-innr .blog-content h1 {
        font-size: 25px;
    }

    .blog-sec-innr .blog-content h5.fz-20 {
        font-size: 15px;
    }

    .blog-sec-innr {
        height: 290px;
    }

    .blog-list-innr {
        display: block;
    }

    .blog-list-innr-img {
        width: 100%;
    }

    .blog-list-innr-img img {
        height: 200px;
        border-radius: 0px;
    }

    .blog-list-innr {
        padding: 0px;
        border-radius: 0;
    }

    .blog-list-innr-cntnt {
        width: 100%;
        padding: 5px;
    }
    .inquiry-btn .product-social a {
    width: 60px;
}
.product-img img{
    object-position: top;
}
.service-bnnr::after{
    display: block;
}
.service-bnnr-cntnt h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.service-bnnr-cntnt ul li{
    list-style-type: none!important;
}
.service-bnnr {
    padding: 1rem;
}
}

@media screen and (max-width:500px) {
    .theame-header .navbar-brand img {
        width: 55px;
    }

    .tp-space {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bannr-sec {
        min-height: 70vh;
    }

    .bannr-sec .bannr-content h1 {
        font-size: 20px;
    }

    .bannr-sec .bannr-content p {
        font-size: 15px;
    }

    .partner-innr img {
        height: 150px;
        width:;
    }

    .cta-innr form .form-control {
        height: 40px;
    }

    .cta-innr {
        padding: 1rem 0px;
    }

    .ftr-lnk {
        margin-bottom: 15px;
    }

    .partner-innr img {
        width: 460px !important;
    }

    .frst-img img {
        height: 150px;
    }

    .property-gllery .gallery-slider .item img {
        height: 250px;
    }

    .property-filter .text-end, .properti-amenties .text-end {
        text-align: left !important;
    }

    .properti-amenties-rgt {
        justify-content: flex-start;
    }

    .contact-innr {
        border-right: 0;
        border-bottom: 1px solid #c1a177;
        margin-bottom: 1rem;
    }

    .blog-sec-innr {
        height: 340px;
        padding: 10px 10px 0 10px;
        background-position: center;
    }

    .blog-dtl.bannr-sec .bannr-content h1 {
        font-size: 15px;
        line-height: 25px;
    }
    .inquiry-btn{
        display: block;
        text-align: center;
    }
    .inquiry-btn .product-social{
        margin-bottom: 10px;
    }
    .agent-detal-inr-cntnt h4.fz-22 {
    font-size: 18px;
}
.agent-detal-inr.p-20{
    padding: 10px;
}
.agent-detal-inr-img img {
    height: 220px;
    border-radius: 5px;
}
.agent-contact .cta-innr{
    padding: 1rem 15px;
}
.about.bannr-sec {
    min-height: 80vh;
}
.bannr-sec.about.fz-18 {
    font-size: 15px;
}

.bannr-sec.about .fz-14 {
    line-height: 22px;
    font-size: 12px;
}

}

/*responsive-css-end*/
