@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
   scroll-behavior: smooth;
   max-width: 100%
}

body {
   font-size: 15px;
   font-weight: 500;
   color: #fff;
   background-color: #232323;
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
   color: #474747;
   font-weight: 600
}

strong {
   font-weight: 700;
   color: #000
}

a {
   text-decoration: none !important;
   -webkit-transition: all 0.2s;
   transition: all 0.2s;
   color: #000
}

a:hover, a:focus {
   text-decoration: none;
   outline: none;
   cursor: pointer;
   color: #fff
}

.btn.focus, .btn:focus {
   outline: 0;
   box-shadow: none
}

button {
   color: inherit;
   border: none
}

p {
   margin-bottom: 0.5rem;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   letter-spacing: 0.5px;
   font-family: 'Poppins', sans-serif;
   line-height: 30px;
}

ul, li {
   margin: 0;
   padding: 0;
   list-style-type: none !important
}

ul {
   padding-left: 0 !important
}

hr {
   background-color: #474747;
   opacity: 1
}

.form-select:focus, .form-control:focus {
   box-shadow: none !important;
   border-color: #ced4da
}

.dropdown-item:focus, .dropdown-item:hover {
   background-color: inherit;
   color: inherit
}

textarea {
   resize: none;
   height: 100px !important
}

input:focus, button:focus, textarea:focus {
   outline: none;
   box-shadow: none
}

img {
   max-width: 100%;
   height: auto
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0
}

input[type=number] {
   -moz-appearance: textfield
}

.about-sec, .review-sec, .blog, .cta-sec, .blog-dtl-content {
   background-color: #040311;
}

.mn-h {
   min-height: 100vh;
}

.primary-clr {
   color: #c1a177;
}

.secondary-clr {
   color: #28272e;
}

.space {
   padding-top: 16rem;
   padding-bottom: 3rem;
}

.thm-bg {
   background-color: #28272e;
   border: 1px solid #c1a177;
}

.dble-brdr {
   border-top: 1px solid #747474;
   border-bottom: 1px solid #747474;
}

.img-60 {
   height: 60px;
   width: 60px;
   border-radius: 10px
}

.img-30 {
   height: 30px;
   width: 30px;
   border-radius: 10px
}

.img-40 {
   height: 40px;
   width: 40px;
   border-radius: 10px
}

.img-70 {
   height: 70px;
   width: 70px;
   border-radius: 10px
}

.p-15 {
   padding: 15px
}

.p-10 {
   padding: 10px
}

.p-20 {
   padding: 20px
}

.font-2 {
   font-family: 'Fraunces', serif;
}

.fz-12 {
   font-size: 12px
}

.fz-14 {
   font-size: 14px
}

.fz-16 {
   font-size: 16px
}

.fz-18 {
   font-size: 18px
}

.fz-20 {
   font-size: 20px
}

.fz-22 {
   font-size: 22px
}

.fz-24 {
   font-size: 24px
}

.fz-26 {
   font-size: 26px
}

.fz-28 {
   font-size: 28px
}

.fz-30 {
   font-size: 30px
}

.fw-300 {
   font-weight: 300;
}

.fw-400 {
   font-weight: 400;
}

.fw-500 {
   font-weight: 500;
}

.fw-600 {
   font-weight: 600;
}

.fw-700 {
   font-weight: 700;
}

.fw-800 {
   font-weight: 800;
}

.fw-900 {
   font-weight: 900;
}

.subhead {
   font-size: 20px;
   font-weight: 600;
   font-family: 'Fraunces', serif;
   color: #c1a177;
   margin-bottom: 1.5rem;
}

.heading {
   display: flex;
   margin-bottom: 4rem;
}

.heading-content {
   margin-left: 15px;
}

.heading-content h3 {
   font-size: 20px;
   font-weight: 600;
   font-family: 'Fraunces', serif;
   color: #c1a177;
   margin-bottom: 12px;
}

.heading-content h6 {
   font-weight: 400;
   font-size: 18px;
}

.tp-space {
   padding-top: 60px;
   padding-bottom: 60px;
}

.thm-btn {
   display: inline-block;
   padding: 12px 30px;
   border-radius: 0px 10px;
   border: 1px solid #c1a177;
   background: #383838;
   font-size: 20px;
   color: #c1a177;
   font-weight: 600;
   font-family: 'Fraunces', serif;
   transition: 0.3s;
   background: transparent;
}

.thm-btn:hover {
   background: linear-gradient(180deg, #c1a177 0%, #764D17 100%);
   color: #fff;
   border-radius: 0;
}

/*header-css-start*/
.tp-header {
   border-bottom: 1px solid #c1a177;
   background-color: #040311;
}

.tp-header-lft li {
   display: inline-block;
}

.tp-header-lft li a {
   display: inline-block;
   height: 26px;
   width: 26px;
   text-align: center;
   line-height: 26px;
   background-color: #c1a177;
   color: #040311;
   border-radius: 25px;
   margin: 10px 10px 10px 0;
   transition: 0.3s;
}

.tp-header-lft li a:hover {
   background-color: #fff;
}

.tp-heade-rgt ul {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.tp-heade-rgt li .form-control {
   background-color: #040311;
   color: #c1a177;
   width: 70px;
   border: none;
   font-family: 'Fraunces', serif;
}

.tp-heade-rgt li a {
   display: inline-block;
   color: #c1a177;
   font-family: 'Fraunces', serif;
   font-size: 15px;
   font-weight: 500;
   padding: 10px;
}

.tp-heade-rgt li a:hover {
   background-color: #c1a177;
   color: #fff;
}

.tp-heade-rgt li a.compare {
   border-left: 2px solid #c1a177;
   padding-left: 10px;
   font-size: 18px;
}

.tp-heade-rgt li a.fltr-btn {
   display: none;
}

.theame-header .navbar {
   background-color: #040311;
   padding: 0;
   position: relative;
   z-index: 999;
   padding: 5px 0;
}

.theame-header .navbar-brand {
   padding: 0;
}

.theame-header .navbar-brand img {
       width: 70px;
    border-radius: 5px;
}

.theame-header .navbar .nav-item {
   margin-left: 60px;
}

.theame-header .navbar .nav-item .nav-link {
   font-size: 15px;
   font-weight: 400;
   color: #c1a177;
   font-family: 'Fraunces', serif;
   position: relative;
   padding: 0;
}

.theame-header .navbar .nav-item .nav-link::after {
   position: absolute;
   content: '';
   left: 0;
   bottom: 0;
   height: 2px;
   width: 0%;
   background: linear-gradient(270deg, #371D00 0%, rgba(255, 144, 0, 0.49) 47.29%, rgba(200, 161, 110, 0.00) 93.14%);
   transition: 0.3s;
}

.theame-header .navbar .nav-item .nav-link:hover {
   color: #fff;
}

.theame-header .navbar .nav-item .nav-link:hover::after,
.theame-header .navbar .nav-item .nav-link.active::after {
   width: 100%;
}

.theame-header .header-filter {
   padding: 20px;
   border: 1px solid #c1a177;
   background-color: #000002;
   border-radius: 10px;
   margin-top: 20px;
   position: relative;
}

.theame-header .header-filter::after, .theame-header .header-filter::before {
   position: absolute;
   content: '';
   background-image: url(../images/filter-icon.png);
   width: 10px;
   height: 44px;
}

.theame-header .header-filter::after {
   left: 5%;
   top: -32px;
}

.theame-header .header-filter::before {
   right: 3%;
   top: -32px;
}

.header-filter .frm-bx {
   position: relative;
}

.header-filter .frm-bx span {
   position: absolute;
   top: 20px;
   left: 15px;
   color: #747474;
   font-size: 20px;
}

.header-filter .frm-bx input.form-control {
   padding-left: 40px;
}

.header-filter .frm-bx .form-control, .header-filter .frm-bx .form-select {
   height: 60px;
   border: 1px solid #c1a177;
   background-color: #4a4a4a;
   color: #c1a177;
}

.sticky-header {
   animation: 0.75s ease 0s normal forwards 1 running headerSlideDown;
   transition: 0.1s;
}

@keyframes headerSlideDown {
   0% {
      margin-top: -150px;
   }

   100% {
      margin-top: 0;
   }

}

/*
.sticky-header .tp-header {
   display: none;
}
*/
.sticky-header .header-filter {
   margin-top: 1px;
   padding: 10px;
}

.sticky-header.theame-header .header-filter::after, .sticky-header.theame-header .header-filter::before {
   display: none;
}

.header-filter .search-btn {
   display: inline-block;
   height: 50px;
   width: 50px;
   line-height: 40px;
   text-align: center;
   background: transparent;
   font-size: 18px;
   border: 1px solid #c1a177;
   border-radius: 10px;
   transition: 0.2;
}

.header-filter .search-btn:hover {
   background: linear-gradient(180deg, #c1a177 0%, #764D17 100%);
   color: #fff;
}

.filter-modal .modal-content {
   background-color: #232323;
   border-color: #232323;
}

.filter-modal .modal-header {
   border-color: #c1a177;
}

.filter-modal .filter-frm .frm-bx .form-control, .filter-modal .filter-frm .frm-bx .form-select {
   height: 52px;
   border-radius: 2px;
   background-color: #4a4a4a;
   border-color: #c1a177;
   color: #c1a177;
}
.filter-modal .thm-btn {
    padding: 12px 15px;
    font-size: 16px;
}

/*header-css-end*/
.bannr-sec {
   background-image: url(../images/banner.webp);
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.agent-abnner {
   background-image: url(../images/agent-banner.png);
}

.bannr-sec::after {
   position: absolute;
   content: '';
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background: linear-gradient(182deg, rgba(92, 92, 92, 0.00) 20.34%, #040311 86.93%);
}

.bannr-sec .container {
   position: relative;
   z-index: 999;
}

.bannr-sec .bannr-content {
   margin-bottom: 3rem;
}

.bannr-sec .bannr-content h1 {
   font-size: 28px;
   font-weight: 400;
   font-family: 'Fraunces', serif;
}

.bannr-sec .bannr-content p {
   color: #c1a177;
   font-size: 20px;
   font-weight: 300;
}

.about-lft-img {
   background-color: #c1a177;
   padding-left: 15px;
   padding-bottom: 15px;
}

.about-lft-img img {
   width: 100%;
   margin-top: -10px;
}

.about-count {
   margin-top: 3rem;
   border-width: 1px;
   border-style: solid;
   border-image: linear-gradient(to right, #000000, #bea174, #000000) 1;
   padding: 30px 15px;
}

.about-count .about-count-innr h4 {
   font-size: 30px;
   font-family: 'Fraunces', serif;
   margin-bottom: 0.5rem;
   font-weight: 600;
}

.about-count .about-count-innr p {
   color: #747474;
   font-size: 15px;
   font-weight: 500;
   text-transform: uppercase;
   margin-bottom: 0;
}

.about-rgt-img {
   position: relative;
   z-index: 999;
}

.about-rgt-img .border-img {
   position: absolute;
   right: -15%;
   border-right: 71px solid #e8e0d6;
    border-bottom: 197px solid #e8e0d6;
   bottom: -20%;
   z-index: -9;
}

.agent-sec {
   background-image: url(../images/agent-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.agent-sec .item {
   height: 500px;
   margin-top: 4rem;
}

.agent-sec .owl-item.active.center {
   transform: scale(1.3);
   margin-top: 0 !important;
   position: relative;
   z-index: 999;
   -webkit-transform: scale(1).3;
   transform: scale(1.3);
   transition: 0.5s;
}

.agent-slider-img {
   position: relative;
}

.agent-slider-img img {
    width: 100%;
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.agent-slider-img:hover .agent-contnt {
   opacity: 1;
}

.agent-contnt {
   background-color: rgb(66 66 67 / 60%);
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
   opacity: 0;
   transition: 0.4s;
   padding: 5px 0;
   border-radius: 0 0 20px 20px;
}

.agent-contnt h4 {
   font-size: 14px;
   font-weight: 400;
   margin: 0;
}

.agent-contnt h5 {
   font-size: 12px;
   font-weight: 400;
   color: #c1a177;
   margin: 5px 0;
}

.agent-contnt p {
   font-size: 12px;
   font-weight: 400;
   color: #C6C6C6;
   margin: 0;
}

.agent-sec h3.expert {
   font-size: 60px;
   font-family: 'Fraunces', serif;
   font-weight: 600;
   opacity: 0.3;
   background: linear-gradient(180deg, #c1a177 0%, #C79F6D 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-bottom: 1.5rem;
}

.agent-inqury {
   padding: 30px 10px;
   border-width: 1px;
   border-style: solid;
   border-image: linear-gradient(to right, #000000, #bea174, #000000) 1;
}

.agent-inqury form .form-select {
   height: 60px;
   border: 1px solid #c1a177;
   background-color: #383838;
   color: #747474;
}

.product-sec {
   background-image: url(../images/product-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.product-tabs.nav {
   justify-content: center;
   margin-bottom: 20px;
}

.product-tabs.nav .nav-item {
   margin-left: 25px;
}

.product-tabs.nav .nav-item .nav-link {
   font-size: 18px;
   font-weight: 400;
   color: #c1a177;
   background-color: transparent;
   font-family: 'Fraunces', serif;
   padding: 0;
   position: relative;
}

.product-tabs.nav .nav-item .nav-link::after {
   position: absolute;
   content: '';
   left: 0;
   bottom: 0;
   height: 2px;
   width: 0%;
   background: linear-gradient(270deg, #371D00 0%, rgba(255, 144, 0, 0.49) 47.29%, rgba(200, 161, 110, 0.00) 93.14%);
   transition: 0.3s;
}

.product-tabs.nav .nav-item .nav-link:hover::after, .product-tabs.nav .nav-item .nav-link.active::after {
   width: 100%;
}

.product-tabs.nav .nav-item .nav-link.active, .product-tabs.nav .nav-item .nav-link:hover {
   color: #fff;
}

.product-innr {
   border: 1px solid #414141;
   background: #28272E;
   margin-top: 1rem;
}

.product-img {
   position: relative;
   width: 100%;
   overflow: hidden;
}

.product-img img {
   width: 100%;
   height: 290px;
   object-fit: cover;
   transition: 1s;
   object-position: top;
}

.product-innr:hover .product-img img {
   transform: rotate(5deg) scale(1.1);
}

.product-img .product-rating {
   position: absolute;
   top: 20px;
   left: 0;
   display: inline-block;
   padding: 10px 25px;
   background-color: rgb(4 3 17 / 40%);
   color: #fff;
   font-size: 12px;
}

.product-img .product-rating i {
   color: #EBC500;
}

.product-content {
   padding: 10px 10px 0px 10px;
}

.product-content h4 a {
   font-size: 16px;
   font-weight: 400;
   color: #fff;
}

.product-content p {
   color: #C6C6C6;
   font-size: 12px;
}

.product-content h6 {
   font-size: 12px;
   font-weight: 400;
}

.product-amenties {
   padding-bottom: 8px;
   border-bottom: 1px solid #414141;
}

.product-amenties span {
   display: inline-block;
   font-size: 12px;
   font-weight: 400;
   padding: 0 5px;
   border-right: 1px solid #3E3C5B;
}

.product-amenties span:nth-last-child(1) {
   border: 0;
}

.product-prc {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;
}

.product-prc p {
   font-size: 12px;
   color: #fff;
   font-weight: 400;
   margin-bottom: 0;
}

.product-prc a {
   display: inline-block;
   color: #c1a177;
   font-size: 16px;
   margin-left: 10px;
}

.product-social {
   border: 1px solid #414141;
   background-color: #1E1D27;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.product-social a {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   text-align: center;
   width: 100%;
   color: #c1a177;
   font-size: 20px;
   border-right: 1px solid #414141;
}

.product-social a:hover {
   background-color: #c1a177;
   color: #fff;
}

.product-social a:nth-last-child(1) {
   border: 0;
}

.project-sec {
   background-image: url(../images/project-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.new-head.heading {
   display: block;
   text-align: center;
}


.new-head.heading .heading-icon {
   margin-bottom: 0.7rem;
}

.new-head.heading p {
   font-size: 14px;
   font-weight: 400;
}

.project-slider-innr {
   background-color: #171624;
   border-width: 1px;
   border-style: solid;
   border-image: linear-gradient(to right, #00000000, #00000000, #bea174) 1;
}

.project-slider-innr img {
   height: 380px;
   object-fit: cover;
}

.project-slider-contnt {
   padding: 3rem 4rem;
}

.project-slider-contnt h4 {
   font-size: 20px;
   color: #c1a177;
}

.project-slider-contnt p {
   font-size: 12px;
   color: #fff;
}

.project-slider-contnt .thm-btn {
   padding: 8px 30px;
   font-size: 18px;
}

.project-sec .owl-theme .owl-dots .owl-dot span {
   width: 80px;
   background-color: #040311;
   transition: 0.3s;
}

.project-sec .owl-dot.active span {
}

.project-sec .owl-theme .owl-dots .owl-dot.active span, .project-sec .owl-theme .owl-dots .owl-dot:hover span {
   background-color: #c1a177;
}
.review-sec{
   overflow-x: hidden;
}

.review-rating {
   background-image: url(../images/spiral-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;
   text-align: center;
   border-radius: 5px;
   position: relative;
}

.review-rating::after {
   position: absolute;
   content: '';
   right: -15px;
   top: 0;
   height: 100%;
   width: 1px;
   background-color: #c1a177;
}

.review-rating h3 {
   color: #fff;
   font-size: 80px;
   font-weight: 400;
   margin: 2rem 0;
   font-family: 'Fraunces', serif;
}

.review-rating li {
   display: inline-block;
}

.review-rating li a {
   display: inline-block;
   font-size: 20px;
   color: #c1a177;
   margin-right: 5px;
}

.reviews-innr h5 {
   font-size: 20px;
   font-weight: 600;
   color: #c1a177;
   font-family: 'Fraunces', serif;
   margin: 1rem 0;
   text-transform: uppercase;
}

.reviews-innr img {
   background-color: #040311;
   padding: 8px;
   border-radius: 10px;
}

.review-rgt h4 {
   font-size: 15px;
   font-weight: 400;
   font-family: 'Fraunces', serif;
   color: #c1a177;
   text-transform: capitalize;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1.5rem 0;
}

.review-slider-innr {
   background-color: #28272e;
   padding: 15px;
   position: relative;
}

.review-slider-innr::after {
   position: absolute;
   content: '';
   bottom: -20px;
   left: 40px;
   width: 0;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 20px solid #28272e;
}

.review-slider-innr p {
   font-size: 12px;
   font-weight: 400;
   color: #fff;
   line-height: 25px;
}

.review-slider-item img {
   width: 70px !important;
   height: 70px !important;
   object-fit: cover;
   border-radius: 50%;
   margin-top: 2rem;
   margin-left: 1.3rem;
}

.review-slider-item .review-slider-innr-star {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem 0;
}

.review-slider-item .review-slider-innr-star span {
   color: #c1a177;
   font-size: 15px;
}

.review-slider-item .review-slider-innr-star h5 {
   font-size: 16px;
   color: #fff;
   font-weight: 400;
}

.product-innr.blog-innr h4 a {
   color: #c1a177;
   font-size: 15px;
   font-family: 'Fraunces', serif;
}

.product-innr.blog-innr .blog-btn {
   border-top: 1px solid #747474;
   padding: 15px 0;
   text-align: center;
   margin-top: 1rem;
}

.product-innr.blog-innr .blog-btn a {
   display: inline-block;
   color: #fff;
   font-size: 15px;
}

.partner-sec {
   background-image: url(../images/partner-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.partner-innr img {
   width: 330px !important;
   height: 130px;
   border-radius: 10px;
   object-fit: cover;
}

.ofc-location {
   background-image: url(../images/office-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.location-innr img {
   height: 450px;
   object-fit: cover;
   width: 100% !important;
   border-radius: 10px;
}

.ofc-location .owl-item.active.center {
   transform: scale(1.2);
   margin-top: 0 !important;
   position: relative;
   z-index: 999;
   -webkit-transform: scale(1).3;
   transform: scale(1.2);
   transition: 0.8s;
   overflow: hidden;
}

.ofc-location .item {
   height: 500px;
   margin-top: 4rem;
   margin-bottom: 0.5rem;
}

.cta-innr {
   border-width: 1px;
   border-style: solid;
   border-image: linear-gradient(to right, #000000, #bea174, #000000) 1;
   padding: 4rem 10px;
}

.cta-innr form .form-control {
   height: 60px;
   border: none;
   border-bottom: 1px solid #747474;
   background-color: #040311;
   color: #747474;
   border-radius: 0;
   padding-left: 0;
}

.thm-footer {
   background-color: #040311;
   padding-bottom: 0;
}

.thm-footer .heading {
   border-bottom: 1px solid #c1a177;
   padding-bottom: 15px;
}

.ftr-lnk li a {
   display: inline-block;
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 15px;
   position: relative;
   text-transform: capitalize;
   font-family: 'Poppins', sans-serif;
}

.ftr-lnk li a::after {
   position: absolute;
   content: '';
   left: 0;
   bottom: 0;
   height: 2px;
   width: 0%;
   background: linear-gradient(270deg, #371D00 0%, rgba(255, 144, 0, 0.49) 47.29%, rgba(200, 161, 110, 0.00) 93.14%);
   transition: 0.3s;
}

.ftr-lnk li a:hover::after {
   width: 100%;
}

.ftr-contact h4 {
   font-size: 16px;
   color: #c1a177;
   margin-bottom: 1rem;
}

.ftr-contact .ftr-btn {
   display: inline-block;
   padding: 12px 0px;
   border: 1px solid  #c1a177;
   background-color: #100E21;
   color: #fff;
   width: 350px;
   text-align: center;
   margin-top: 0.5rem;
   transition: 0.3s;
}

.ftr-contact .ftr-btn:hover {
   background-color: #c1a177;
   color: #100E21;
}

.copyright {
   background-color: #171624;
   padding: 15px 0;
   margin-top: 3rem;
}

.copyright-lnk li {
   display: inline-block;
}

.copyright-lnk li:nth-last-child(1) a {
   border: 0;
}

.copyright-lnk li a {
   display: inline-block;
   color: #fff;
   padding-right: 8px;
   font-size: 16px;
   font-weight: 400;
   border-right: 1px solid #fff;
}

.profile-card {
   padding: 20px;
   background-color: #28272e;
   border: 1px solid #c1a177;
   margin-top: 1rem;
   text-align: center;
   top: 15%;
}

.profile-card img {
   height: 92px;
   width: 92px;
   object-fit: cover;
   margin-bottom: 1rem;
   border-radius: 5px;
}

.profile-card h5 {
   font-size: 16px;
   font-weight: 400;
   margin-bottom: 5px;
}

.profile-card p {
   color: #C6C6C6;
   font-size: 12px;
}

.prfl-card-btn {
   display: flex;
   justify-content: space-between;
   margin: 1rem 0;
}

.prfl-card-btn a {
   display: inline-block;
   border-radius: 10px;
   background: #28272e;
   border: 1px solid #c1a177;
   padding: 12px 22px;
   color: #c1a177;
   transition: 0.2s;
   font-size: 12px;
}

.prfl-card-btn a:hover {
   background-color: #c1a177;
   color: #28272e;
}

.agent-list-filter-frm {
   border-radius: 5px;
   padding: 5px;
   background-color: #4a4a4a;
   border: 1px solid #c1a177;
}

.agent-list-filter-frm .form-select {
   background-color: #4a4a4a;
   border: none;
   border-radius: 0;
   color: #747474;
   height: 40px;
}

.agent-list-filter-frm .btn {
   font-size: 18px;
   color: #fff;
   text-align: center;
   border: none;
}

.agent-info {
   border-top: 1px solid #3E3C5B;
   padding: 10px;
}

.agent-info p {
   font-size: 12px;
   margin-bottom: 0;
   color: #C6C6C6;
}

.agent-list .product-img img {
   height: 295px;
}

.cstm-pagination .pagination {
   justify-content: center;
   margin-top: 2rem;
}

.cstm-pagination .pagination .prev .page-link, .cstm-pagination .pagination .next .page-link {
   color: #767676;
}

.cstm-pagination .pagination .page-link {
   background-color: transparent;
   border: none;
   color: #fff;
   box-shadow: none !important;
}

.cstm-pagination .pagination .page-link.active {
   color: #c1a177;
}

.favorite-sec {
   background-image: none;
}

.favorite-sec .blank h5 {
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
}

.compression-innr table {
   background-color: #040311;
   border-color: #C6C6C6;
   color: #fff;
   font-weight: 400;
}

.compression-innr table tbody td {
   padding: 1rem 8px;
}

.compression-img {
   position: relative;
   width: 300px;
}

.compression-img img {
   width: 264px;
   max-height: 184px;
   object-fit: cover;
}

.compression-remove {
   position: absolute;
   top: 0;
   right: 12%;
   width: 42px;
   height: 36px;
   background-color: rgb(0 0 0 / 40%);
   font-size: 18px;
}

.frst-img img {
   width: 100%;
   height: 280px;
   object-fit: cover;
   margin-bottom: 10px;
}

.property-gllery .gallery-slider .item img {
   height: 570px;
   object-fit: cover;
   width: 100%;
}

.property-gllery .owl-theme .owl-nav {
   margin-top: 0;
}

.property-gllery .owl-prev, .owl-prev {
   background-color: transparent;
}

.property-gllery .owl-arrow {
   position: absolute;
   bottom: 23px;
   background: #c1a177 !important;
   padding: 15px !important;
   border-radius: 0 !important;
}

.property-gllery .owl-next .owl-arrow {
   right: 0px;
}

.property-gllery .owl-prev .owl-arrow {
   right: 27px;
}

.property-gllery .owl-theme .owl-nav [class*=owl-] {
   background-color: transparent;
   margin: 0;
   padding: 0;
}

.property-dtl .property-nme {
   font-size: 30px;
   font-weight: 600;
   font-family: 'Fraunces', serif;
   color: #c1a177;
}

.property-filter {
   margin: 2rem 0;
}

.property-filter-lft {
   display: flex
}

.property-filter-lft h5 {
   color: #fff;
   font-size: 30px;
   font-weight: 400;
   margin-right: 10px;
}

.property-filter-lft .form-select {
   border: 1px solid #C6C6C6;
   background-color: #232323;
   border-radius: 4px;
   color: #C6C6C6;
}

.property-filter-icon a {
   display: inline-block;
   font-size: 16px;
   color: #c1a177;
   margin-right: 5px;
}

.property-filter-icon a:hover {
   color: #fff;
}

.properti-amenties {
   padding: 15px 0;
}

.properti-amenties-lft li {
   display: inline-block;
   margin-right: 25px;
}

.properti-amenties-lft p {
   margin-bottom: 0;
}

.properti-amenties-rgt {
   display: flex;
   justify-content: flex-end;
}

.properti-amenties-rgt li {
   display: inline-flex;
}

.properti-amenties-rgt a {
   display: inline-block;
   font-size: 12px;
   font-weight: 400;
   color: #fff;
   border: 1px solid transparent;
   background-color: #363535;
   padding: 10px;
   border-radius: 2px;
}

.properti-amenties-rgt a.active {
   border-color: #c1a177;
}

.property-facilities-card {
   margin: 2rem 0;
}

.facilities-card-innr {
   background-color: #343434;
   border-radius: 10px;
}

.facilities-card-innr span {
   display: inline-block;
   height: 50px;
   width: 50px;
   line-height: 50px;
   text-align: center;
   background-color: #131313;
   border-radius: 5px;
}

.facilities-card-innr span img {
   width: 30px;
}

.facilities-card-innr h5 {
   font-size: 16px;
   color: #C6C6C6;
   font-weight: 400;
   margin: 1rem 0;
}

.property-desc {
   padding: 15px 0;
}

.prprty-list-dtl, .preperty-agent-profile {
   background-color: #040311;
   border-radius: 10px;
   border: 1px solid #747474;
   margin-bottom: 1rem;
}

.property-location, .prprty-list-dtl, .property-desc, .facilities-card-innr, .nearby-amenties-content, .nearby-amenties {
   margin-bottom: 1.5rem;
}

.preperty-agent-profile-img img {
   width: 100%;
   height: 300px;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 1rem;
}

.preperty-calendar {
   display: flex;
   min-width: 100%;
   overflow-x: auto;
   padding-right: 0.25rem;
   width: 0.25rem;
   cursor: grab;
   margin: 2rem 0;
   position: relative;
}

.preperty-calendar span {
   display: block;
   padding: .4rem 1.75rem;
   font-size: 14px;
   color: #747474;
   border: 1px solid #747474;
   position: relative;
   white-space: nowrap;
   text-transform: capitalize;
}

.preperty-calendar span.active {
   border-color: #fff;
   color: #fff;
}

.preperty-calendar::-webkit-scrollbar {
   width: 0em;
}

.preperty-calendar::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.preperty-calendar::-webkit-scrollbar-thumb {
   background-color: transparent;
   outline: 1px solid transparent;
}

.preperty-agent-profile-rgt .form-control {
   border: none;
   border-bottom: 1px solid #747474;
   background-color: transparent;
   border-radius: 0;
   padding-left: 0;
   font-family: 'Fraunces', serif;
   color: #c1a177;
}

.preperty-agent-profile-rgt .form-check-input:checked {
   background-color: #c1a177;
   border-color: #c1a177;
}

.nearby-area-innr {
   position: relative;
}

/*.nearby-area-innr img{
  
}*/
.nearby-area .agent-slider-img img {
   width: 100%;
   height: 400px;
   object-fit: cover;
   border-radius: 0px;
}

.nearby-area .agent-contnt p {
   border-top: 1px solid #c1a177;
}

.nearby-area .agent-contnt p a {
   display: inline-block;
   color: #c1a177;
}

.nearby-area .agent-contnt {
   border-radius: 0;
}

.agent-detal-inr {
   background-color: #040311;
   border: 1px solid #c1a177;
   border-radius: 10px;
}

.agent-detal-inr-img img {
   height: 300px;
   width: 100%;
   object-fit: cover;
   border-radius: 20px;
   margin-bottom: 10px;
}

.agent-detal-inr-cntnt h5 {
   padding-bottom: 8px;
   border-bottom: 1px solid #c1a177;
   margin-bottom: 1rem;
}

.agent-detal-inr-cntnt p {
   margin-bottom: 5px;
   font-size: 14px;
}

.agent-detal-inr-cntnt p span:nth-child(1) {
   color: #c1a177;
}

.inquiry-btn {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 4rem;
}

.inquiry-btn .product-social a {
   width: 150px;
}

.agent-detal-desc {
   border-top: 1px solid #747474;
   margin-top: 2rem;
}

.agent-review.review-sec, .agent-contact.cta-sec, .blog-sec {
   background-color: #232323;
}

.agent-dtl-list.agent-list {
   background-color: #000;
}

.agent-contact.cta-sec {
}

.agent-contact.cta-sec .cta-innr {
   background-color: #040311;
}

.blog-sec-innr {
   background-image: url(../images/blog-bannr.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 530px;
   border-radius: 20px;
   padding: 50px 50px 0 50px;
}

.blog-sec-innr .blog-content h1 {
   font-size: 40px;
   font-weight: 700;
   font-family: 'Fraunces', serif;
   color: #c1a177;
   margin-bottom: 1rem;
}

.blog-list {
   margin-top: -6rem;
   margin-bottom: 5rem;
}

.blog-list-innr {
   background-color: #fff;
   border: 2px solid #747474;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   padding: 5px;
}

.blog-list-innr-img {
   width: 40%;
}

.blog-list-innr-img img {
   width: 100%;
   height: 170px;
   border-radius: 10px;
   object-fit: cover;
}

.blog-list-innr-cntnt {
   width: 60%;
   padding: 0 8px;
}

.blog-list-innr-cntnt p {
   color: #000;
   font-size: 14px;
   font-weight: 500;
   line-height: 22px;
   display: -webkit-box;
   max-width: 250px;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   margin-bottom: 2.5rem;
}

.blog-list-innr-cntnt .thm-btn {
   padding: 5px 10px;
   font-size: 15px;
   background-color: #383838;
}

.blog-dtl.bannr-sec {
   background-image: url(../images/blog-dtl-bnnr.png);
}

.blog-dtl.bannr-sec::after {
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.88) 100%);
}

.blog-dtl-content p {
   margin-bottom: 1rem;
   line-height: 25px;
   font-weight: 400;
}

.blog-dtl-content-lst li {
   position: relative;
   padding-left: 15px;
   color: #fff;
   margin-bottom: 5px;
   font-weight: 400;
}

.blog-dtl-content-lst li::after {
   position: absolute;
   content: '';
   left: 0;
   top: 8px;
   height: 5px;
   width: 5px;
   background-color: #fff;
   border-radius: 25px;
}

.testimonial-main {
   padding-top: 1px;
   padding-bottom: 10px;
   margin-bottom: 1rem;
}

.testimonial {
   background-color: #232323;
   border-radius: 10px;
   border: 1px solid #747474;
   height: 100%;
}

.testimonial-profile {
   display: flex;
   align-items: center;
   padding-bottom: 1rem;
   margin-bottom: 1rem;
   border-bottom: 1px solid;
   border-image: linear-gradient(to right, #000000, #bea174, #000000) 1;
}

.testi-profile-img img {
   width: 80px;
   height: 80px;
   border: 1px solid #C1A177;
   border-radius: 50px;
   object-fit: cover;
   margin-right: 15px;
}

.testi-profile-cntnt h4 {
   font-size: 16px;
   font-weight: 400;
   color: #fff;
}

.testi-profile-cntnt p span {
   font-size: 15px;
   color: #C1A177;
}

.testimonial p {
   font-size: 12px;
   color: #C6C6C6;
   line-height: 24px;
}

.contact-innr {
   border-right: 1px solid #C1A177;
   text-align: center;
}

.contact-innr span {
   color: #C1A177;
   font-size: 25px;
}

.contact-innr h5 {
   margin: 1rem 0;
}

.contact-innr a {
   font-size: 16px;
   color: #C6C6C6;
   font-weight: 400;
}

.service-bnnr {
   background-image: url(../images/service-bnnr-01.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin: 2rem 0;
   padding: 4rem;
   border-radius: 20px;
   position: relative;
   z-index: 999;
}

.service-bnnr::after {
   position: absolute;
   content: '';
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.50);
   z-index: -9;
   display: none;
}

.service-bnnr-cntnt h4 {
   font-size: 20px;
   font-weight: 600;
   color: #fff;
   font-family: 'Fraunces', serif;
   margin-bottom: 1.5rem;
   text-transform: uppercase;
}

.service-bnnr-cntnt ul li {
   list-style-type: disc !important;
   margin-bottom: 10px;
}

.service-sec .srvc-head {
   font-size: 20px;
   font-weight: 600;
   color: #C1A177;
   font-family: 'Fraunces', serif;
   margin-bottom: 1rem;
}
