{% extends 'base.html' %}
{% load static %}
<title>{% block title %}About{% endblock %}</title>
{% block body %}
	<section class="bannr-sec about" style="background-image:url('{% static "assets/images/about-bnnr.png" %}');">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="bannr-content text-center">
						<h1 class="text-white">About Us</h1>
						<h5 class="fz-18 fw-400 text-white">Making Your Real Estate Dreams in Low Cost</h5>
						<h6 class="fz-14 fw-400 text-white">Our real estate agency is provide services related to construction material supply and labor for construction projects/things . We also offer services related to helping clients buy, sell, or rent properties..</h6>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="service-sec tp-space">
		<div class="container">
			<h3 class="srvc-head text-center">Our Services</h3>
			
			<!-- Construction Material Provider Section -->
			<div class="service-bnnr">
				<div class="container">
					<div class="row justify-content-end">
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="service-bnnr-cntnt">
								<h4>Construction Material Providers</h4>
								<ul>
									<li>We offer a wide range of high-quality construction materials for your building needs.</li>
									<li>From cement to steel, we supply everything required for residential and commercial projects.</li>
									<li>Our materials are sourced from trusted manufacturers ensuring durability and reliability.</li>
									<li>Competitive pricing with guaranteed on-time delivery for your convenience.</li>
									<li>We offer personalized services to meet the specific needs of your construction project.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Labour Available for Construction Section -->
			<div class="service-bnnr" style="background-image: url('{% static "assets/images/service-bnnr-02.png" %}');">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div class="service-bnnr-cntnt">
							<h4>Labour Available for Construction</h4>
							<ul>
								<li>We provide skilled labor for all types of construction projects, from residential homes to large commercial buildings.</li>
								<li>Our labor force is experienced and trained in all areas of construction including plumbing, electrical, masonry, and more.</li>
								<li>We ensure that our labor force follows safety standards and regulations to ensure smooth project execution.</li>
								<li>Available on a short-term or long-term basis depending on the project's requirement.</li>
								<li>We offer affordable and reliable labor solutions that meet the highest standards of construction quality.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="cta-sec tp-space">
		<div class="container">
			<div class="heading new-head">
				<div class="heading-icon">
					<img src="{% static 'assets/images/heading-icon.png' %}" alt="">
				</div>
				<div class="heading-content">
					<h3>Advisory Experts</h3>
					<p>Fill out the form below, and our agent will contact you shortly to discuss your construction material needs or labor requirements.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="cta-innr">
						<form action="" class="row align-items-end">
							<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
								<input type="text" class="form-control" placeholder="Enter Name">
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
								<input type="number" class="form-control" placeholder="Enter Phone Number">
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
								<input type="email" class="form-control" placeholder="Enter Email Address">
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
								<button class="thm-btn w-75" type="button">Send</button>
							</div>
						</form>
						<div class="row justify-content-center">
							<div class="col-lg-4">
								<div class="product-social">
									<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
									<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
									<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock body %}
