 <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<!-- Favicon -->
		<link rel="icon"href="assets/images/favicon.png"sizes="16x16">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"href="assets/css/bootstrap.min.css" />
		<!-- icon -->
		<link rel="stylesheet" type="text/css"href="assets/css/fontawsome.min.css" />
		<!-- Owl-Slider -->
		<link rel="stylesheet"href="assets/css/owl.carousel.min.css" />
		<link rel="stylesheet"href="assets/css/owl.theme.default.min.css" />
		<!--  Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!--  My_Styles -->
		<link rel="stylesheet"type="text/css"href="assets/css/style.css" />
		<link rel="stylesheet"type="text/css"href="assets/css/responsive.css" />
	</head>
	<body>
		<header class="theame-header fixed-top">
			<section class="tp-header">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 d-lg-block d-none">
							<div class="tp-header-lft">
								<ul>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-telegram-plane"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="tp-heade-rgt text-end">
								<ul>
									<li>
										<select name="" id="" class="form-control">
											<option selected>EN</option>
											<option value="">RU</option>
											<option value="">ES</option>
											<option value="">FR</option>
											<option value="">RO</option>
										</select>
									</li>
									<li>
										<a href="favorite.html"><i class="far fa-bookmark me-3"></i>Favorite</a>
									</li>
									<li>
										<a href="comprassion.html" class="compare"><i class="fas fa-sliders-h"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);" class="fltr-btn" data-bs-toggle="modal" data-bs-target="#filter"><i class="far fa-filter"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<a class="navbar-brand"href="index.html">
						<img src="assets/images/logo.png"alt="">
					</a>
					<button class="navbar-toggler"type="button"data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
					</button>
					<div class="collapse navbar-collapse"id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Home</a>
							</li>
							<li class="nav-item">
								<a href="about-us.html" class="nav-link">About Us</a>
							</li>
							<li class="nav-item">
								<a href="properties-list.html" class="nav-link">Property's</a>
							</li>
							<li class="nav-item">
								<a href="javascript:void(0);" class="nav-link">Neighborhood</a>
							</li>
							<li class="nav-item">
								<a href="contact-us.html" class="nav-link">Contact us </a>
							</li>
							<li class="nav-item">
								<a href="blog.html" class="nav-link">Blog</a>
							</li>
							<li class="nav-item">
								<a href="blog.html" class="nav-link">News</a>
							</li>
							
						</ul>
					</div>
				</div>
			</nav>
			<div class="container header-filter">
				<form action="">
					<div class="row align-items-center g-2">
						<div class="col-xl-3 col-lg-2 col-md-2 frm-bx">
							<input type="text" class="form-control" placeholder="Properties or locations">
							<span class="far fa-search"></span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">Rent</option>
								<option value="">Rent</option>
							</select>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">Property Type</option>
								<option value="">Property Type</option>
							</select>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">Bedrooms</option>
								<option value="">Bedrooms</option>
							</select>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">1M - 100M/AED</option>
								<option value="">1M - 100M/AED</option>
							</select>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-2 frm-bx">
							<button class="search-btn" type="button"><i class="far fa-search"></i></button>
						</div>
					</div>
				</form>
			</div>
		</header>
		<section class="bannr-sec agent-abnner">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="bannr-content text-center">
							<h1 class="text-white">Real estate agents in Dubai</h1>
							<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="agent-list tp-space">
			<div class="container">
				<div class="agent-list-filter row align-items-center">
					<div class="col-xl-8 col-lg-6 col-md-4 col-sm-4 col-12">
						<h4 class="fz-16 fw-400 text-white">Find Your Agent To Find a home</h4>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-8 col-sm-8 col-12">
						<div class="agent-list-filter-frm">
							<form action="" class="row align-items-center">
								<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
									<select name="" id="" class="form-select">
										<option selected>Specialization</option>
									</select>
								</div>
								<div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
									<select name="" id="" class="form-select">
										<option selected>Language</option>
									</select>
								</div>
								<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
									<button class="btn" type="button"><i class="far fa-search"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-01.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-04.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-05.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-06.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-07.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-01.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-02.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-03.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-04.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-05.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-06.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="assets/images/agent-07.png" alt="">
							</div>
							<div class="product-content">
								<h4><a href="javascript:void(0);" class="text-uppercase">ben THOMAS</a></h4>
								<p><span>Head of Secondary</span></p>
							</div>
							<div class="agent-info">
								<p>Experience: 18 years</p>
								<p>Languages: English, Spanish</p>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 text-center">
						<div class="cstm-pagination ">
							<ul class="pagination">
								<li class="page-item prev"><a class="page-link" href="javascript:void(0);">Previous</a></li>
								<li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
								<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
								<li class="page-item next"><a class="page-link" href="javascript:void(0);">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="thm-footer tp-space">
			<div class="container">
				<div class="heading justify-content-between align-items-center">
					<div class="heading-icon">
						<img src="assets/images/heading-icon.png" alt="">
					</div>
					<div class="heading-content">
						<h3 class="text-white">Contact Us</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<ul class="ftr-lnk">
									<li><a href="javascript:void(0);">Sell</a></li>
									<li><a href="javascript:void(0);">Rent</a></li>
									<li><a href="agent-listing.html">Agents</a></li>
									<li><a href="javascript:void(0);">Projects</a></li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<ul class="ftr-lnk">
									<li><a href="properties-list.html">Apartments</a></li>
									<li><a href="properties-list.html">Penthouses</a></li>
									<li><a href="properties-list.html">Townhouses</a></li>
									<li><a href="properties-list.html">Villas</a></li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<ul class="ftr-lnk">
									<li><a href="about-us.html">About Us </a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="all-reviews.html">Reviews</a></li>
									<li><a href="blog.html">News & Blogs</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-6 col-sm-12">
						<div class="ftr-contact text-end tp-header-lft">
							<h4>Dubai, UAE</h4>
							<p>P.O Box 15254,Al Ain,Al Ain (19317)</p>
							<ul>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-telegram-plane"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
							<a href="javascript:void(0);" class="ftr-btn">Call Us</a>
						</div>
					</div>
				</div>
			</div>
			<section class="copyright">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p class="text-white mb-0">SM Super Moda Real estate ©2023 All Rights Reserved</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-end">
							<ul class="copyright-lnk">
								<li><a href="javascript:void(0);">Terms and conditions </a></li>
								<li><a href="javascript:void(0);">privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<!-- Jquery -->
		<script type="text/javascript" src="assets/js/jquery-3.6.0.js"></script>
		<!-- Bootstrap -->
		<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
		<!-- Owl-Carousel -->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<!-- Custom -->
		<script type="text/javascript" src="assets/js/script.js"></script>
	</body>
</html>
<div class="modal fade filter-modal" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Filter</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" class="row filter-frm">
					<div class="col-lg-12 mb-4 frm-bx">
						<label for="">Search</label>
						<input type="text" class="form-control" placeholder="Properties or locations">
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Purchase</label>
						<select class="form-select">
							<option value="">Rent</option>
							<option value="">Buy</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Property Type</label>
						<select class="form-select">
							<option value="">Aparments</option>
							<option value="">Villa</option>
							<option value="">Penthouse</option>
							<option value="">Town House</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Bedrooms</label>
						<select class="form-select">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
							<option value="">5</option>
							<option value="">6</option>
							<option value="">7</option>
							<option value="">8</option>
							<option value="">9</option>
							<option value="">10</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Currency</label>
						<select class="form-select">
							<option value="">1M - 100M/AED</option>
							<option value="">1M - 100M/AED</option>
						</select>
					</div>
					<div class="col-lg-12 text-center">
						<button class="thm-btn w-50">Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>