{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Favorite List{% endblock %}</title>
{% block body %}
		<section class="product-sec space favorite-sec">
			<div class="container">
				<h3 class="subhead d-flex justify-content-between text-white">Labour For Sale In Jaipur
				<a href="javascript:void(0);" class="primary-clr fz-16 fw-400">Remove All</a>
				</h3>
				<div class="row">
					{% for x in labour_list %}
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product-innr">
							<div class="product-img">
								<img src="{{x.image.url}}" alt="">
								<span class="product-rating"><i class="fas fa-star"></i> 4.9</span>
							</div>
							<div class="product-content">
								<h4><a href="/labour-update/{{x.pk}}/">{{x.expert_title}}</a></h4>
								<p><i class="fas fa-map-marker-alt me-1"></i> {{x.address}}</p>
								<h6 class="text-white">{{x.name}}</h6>
								
								<div class="product-prc">
									<div>
										<p>{{x.mobile}}</p>
									</div>
									<div>
										<a href="javascript:void(0);" class="labour-fav-delete" data-id="{{ x.id }}"><i class="far fa-bookmark"></i></a>
										<a href="javascript:void(0);" class="labour-com-delete" data-id="{{ x.id }}"><i class="fas fa-sliders-h"></i></a>
									</div>
								</div>
							</div>
							<div class="product-social">
								<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
								<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
								<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="container mt-5">
				<h3 class="subhead d-flex justify-content-between text-white">Matrial For Sale In Jaipur
				<a href="javascript:void(0);" class="primary-clr fz-16 fw-400">Remove All</a>
				</h3>
				<div class="row">
					{% for x in material_list %}
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product-innr">
						<div class="product-img">
							<img src="{{x.image.url}}" alt="">
							<span class="product-rating"><i class="fas fa-star"></i> 4.9</span>
						</div>
						<div class="product-content">
							<h4><a href="/matrial-update/{{x.pk}}/">{{x.name}}</a></h4>
							<!-- <p><i class="fas fa-map-marker-alt me-1"></i> {{x.name}}</p> -->
							<h6 class="text-white">{{x.type}}</h6>
							
							<div class="product-prc">
								<div>
									<p>INR {{x.start_rate}}-{{x.end_rate}}</p>
								</div>
								<div>
									<a href="javascript:void(0);" class="matrial-fav-delete" data-id="{{ x.id }}"><i class="far fa-bookmark"></i></a>
									<a href="javascript:void(0);" class="matrial-com-delete" data-id="{{ x.id }}"><i class="fas fa-sliders-h"></i></a>
								</div>
							</div>
						</div>
						<div class="product-social">
							<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
							<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
							<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
						</div>
					</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<section class="cta-sec tp-space">
			<div class="container">
				<div class="heading new-head">
					<div class="heading-icon">
						<img src="{% static 'assets/images/heading-icon.png' %}" alt="">
					</div>
					<div class="heading-content">
						<h3>Advisory Experts</h3>
						<p>Fill form below and our agent will contact you shortly</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="cta-innr">
							<form action="" id="contact-add" class="row align-items-end">
								{% csrf_token %}
								<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
									<input type="text" name="name" class="form-control" placeholder="Enter Name">
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
									<input type="number" name="mobile" class="form-control" placeholder="Enter Phone Number">
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
									<textarea name="desc" id="" class="form-control" placeholder="Enter Description"></textarea>
									
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 mb-5">
									<button class="thm-btn w-75" type="submit">Send</button>
								</div>
							</form>
							<div class="row justify-content-center">
								<div class="col-lg-4">
									<div class="product-social">
										<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
										<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
										<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endblock body %}