 <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<!-- Favicon -->
		<link rel="icon"href="assets/images/favicon.png"sizes="16x16">
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css"href="assets/css/bootstrap.min.css" />
		<!-- icon -->
		<link rel="stylesheet" type="text/css"href="assets/css/fontawsome.min.css" />
		<!-- Owl-Slider -->
		<link rel="stylesheet"href="assets/css/owl.carousel.min.css" />
		<link rel="stylesheet"href="assets/css/owl.theme.default.min.css" />
		<!--  Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!--  My_Styles -->
		<link rel="stylesheet"type="text/css"href="assets/css/style.css" />
		<link rel="stylesheet"type="text/css"href="assets/css/responsive.css" />
	</head>
	<body>
		<header class="theame-header fixed-top">
			<section class="tp-header">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 d-lg-block d-none">
							<div class="tp-header-lft">
								<ul>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-telegram-plane"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="tp-heade-rgt text-end">
								<ul>
									<li>
										<select name="" id="" class="form-control">
											<option selected>EN</option>
											<option value="">RU</option>
											<option value="">ES</option>
											<option value="">FR</option>
											<option value="">RO</option>
										</select>
									</li>
									<li>
										<a href="favorite.html"><i class="far fa-bookmark me-3"></i>Favorite</a>
									</li>
									<li>
										<a href="comprassion.html" class="compare"><i class="fas fa-sliders-h"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);" class="fltr-btn" data-bs-toggle="modal" data-bs-target="#filter"><i class="far fa-filter"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<a class="navbar-brand"href="index.html">
						<img src="assets/images/logo.png"alt="">
					</a>
					<button class="navbar-toggler"type="button"data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
					</button>
					<div class="collapse navbar-collapse"id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a href="index.html" class="nav-link">Home</a>
							</li>
							<li class="nav-item">
								<a href="about-us.html" class="nav-link">About Us</a>
							</li>
							<li class="nav-item">
								<a href="properties-list.html" class="nav-link">Property's</a>
							</li>
							<li class="nav-item">
								<a href="javascript:void(0);" class="nav-link">Neighborhood</a>
							</li>
							<li class="nav-item">
								<a href="contact-us.html" class="nav-link">Contact us </a>
							</li>
							<li class="nav-item">
								<a href="blog.html" class="nav-link">Blog</a>
							</li>
							<li class="nav-item">
								<a href="blog.html" class="nav-link">News</a>
							</li>
							
						</ul>
					</div>
				</div>
			</nav>
			<div class="container header-filter">
				<form action="">
					<div class="row align-items-center g-2">
						<div class="col-xl-3 col-lg-2 col-md-2 frm-bx">
							<input type="text" class="form-control" placeholder="Properties or locations">
							<span class="far fa-search"></span>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">Rent</option>
								<option value="">Rent</option>
							</select>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">Property Type</option>
								<option value="">Property Type</option>
							</select>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">Bedrooms</option>
								<option value="">Bedrooms</option>
							</select>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-2 frm-bx">
							<select class="form-select">
								<option value="">1M - 100M/AED</option>
								<option value="">1M - 100M/AED</option>
							</select>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-2 frm-bx">
							<button class="search-btn" type="button"><i class="far fa-search"></i></button>
						</div>
					</div>
				</form>
			</div>
		</header>
		<section class="space mn-h bkng">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-8">
						<div class="property-dtl">
							<div class="property-gllery">
								<div class="row g-2">
									<div class="col-lg-6 col-md-6 col-sm-6 frst-img">
										<img src="assets/images/gallery-img-01.png" alt="">
										<img src="assets/images/gallery-img-02.png" alt="">
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="owl-carousel owl-theme gallery-slider" id="gallery-slider">
											<div class="item">
												<img src="assets/images/gallery-img-03.png" alt="" class="w-100">
											</div>
											<div class="item">
												<img src="assets/images/gallery-img-02.png" alt="" class="w-100">
											</div>
										</div>
									</div>
								</div>
							</div>
							<h4 class="property-nme">Apartment with 2 bedrooms in Marquise Square Tower, Dubai, UAE (axc-3965766)</h4>
							<div class="property-filter">
								<div class="row">
									<div class="col-lg-8 col-md-6 col-sm-6 col-12">
										<div class="property-filter-lft">
											<h5>EUR 1,300,000</h5>
											<div>
												<select name="" id="" class="form-select">
													<option value="">EUR</option>
													<option value="">AUD</option>
													<option value="">INR</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-6 col-sm-6 col-12 text-end">
										<div class="property-filter-icon">
											<a href="javascript:void(0);"><i class="fas fa-share-alt"></i></a>
											<a href="javascript:void(0);"><i class="fas fa-sliders-h"></i></a>
											<a href="javascript:void(0);"><i class="far fa-bookmark"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="properti-amenties dble-brdr">
								<div class="row justify-content-between">
									<div class="col-lg-8 col-md-8 col-sm-8 col-12">
										<ul class="properti-amenties-lft">
											<li> <p><i class="fas fa-map-marker-alt me-2"></i>Jumeirah Golf Estates</p> </li>
											<li> <p><i class="far fa-bed me-2"></i>6</p> </li>
											<li> <p><i class="fal fa-mug-hot me-2"></i>8</p> </li>
											<li> <p><i class="fal fa-expand-arrows me-2"></i>500 Sq. Ft.</p> </li>
										</ul>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-12 text-end">
										<div class="properti-amenties-rgt">
											<a href="javascript:void(0);" class="active">Sq.ft</a>
											<a href="javascript:void(0);">Sq.m</a>
										</div>
									</div>
								</div>
							</div>
							<div class="property-facilities-card">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Facilities and Services</h4>
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="facilities-card-innr p-15">
											<span>
												<img src="assets/images/facilities-icon-01.png" alt="">
											</span>
											<h5>Built-in Kitchen Appliances</h5>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="facilities-card-innr p-15">
											<span>
												<img src="assets/images/facilities-icon-02.png" alt="">
											</span>
											<h5>Built-in Wardrobe</h5>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="facilities-card-innr p-15">
											<span>
												<img src="assets/images/facilities-icon-03.png" alt="">
											</span>
											<h5>Built-in Kitchen Appliances</h5>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="facilities-card-innr p-15">
											<span>
												<img src="assets/images/facilities-icon-03.png" alt="">
											</span>
											<h5>Built-in Kitchen Appliances</h5>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="facilities-card-innr p-15">
											<span>
												<img src="assets/images/facilities-icon-02.png" alt="">
											</span>
											<h5>Built-in Wardrobe</h5>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="facilities-card-innr p-15">
											<span>
												<img src="assets/images/facilities-icon-01.png" alt="">
											</span>
											<h5>Built-in Kitchen Appliances</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="property-desc dble-brdr ">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Description</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>
							<div class="prprty-list-dtl p-10">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Listing Details</h4>
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<table class="table table-bordered text-secondary">
											<tbody>
												<tr>
													<td>Location</td>
													<td>Jumeirah Village Circle</td>
												</tr>
												<tr>
													<td>Price Per sq.ft</td>
													<td>209.91 EUR</td>
												</tr>
												<tr>
													<td>RERA No.:</td>
													<td>7148591819</td>
												</tr>
												<tr>
													<td>Reference No.:</td>
													<td><a href="javascript:void(0);" class="primary-clr"><i class="fal fa-copy me-2"></i></a>axc-3964735</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="col-lg-6 col-md-6">
										<table class="table table-bordered text-secondary">
											<tbody>
												<tr>
													<td>Furnishing</td>
													<td>Furnished</td>
												</tr>
												<tr>
													<td>Property Type:</td>
													<td>Penthouse</td>
												</tr>
												<tr>
													<td>Parking Lots:</td>
													<td>3</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="property-location p-10 dble-brdr border-bottom-0">
								<h4 class="fz-20 fw-600 font-2 text-white mb-4">Location</h4>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1094.1002417693!2d55.27486914951601!3d25.197210899886063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e1!3m2!1sen!2sin!4v1697021123449!5m2!1sen!2sin" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
							<div class="nearby-amenties dble-brdr p-15 px-0">
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="nearby-amenties-content">
											<h4 class="fz-20 fw-600 font-2 text-white mb-2">Near by school</h4>
											<h6 class="fz-16 fw-400 text-white">JSS International School LLC</h6>
											<p class="text-secondary">Al Barsha South, Dubai, United Arab EmiratesDistance: 1.03 km</p>
										</div>
										<div class="nearby-amenties-content">
											<h4 class="fz-20 fw-600 font-2 text-white mb-2">Near by school</h4>
											<h6 class="fz-16 fw-400 text-white">JSS International School LLC</h6>
											<p class="text-secondary">Al Barsha South, Dubai, United Arab EmiratesDistance: 1.03 km</p>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<h4 class="fz-20 fw-600 font-2 text-white mb-2">Near by Airport</h4>
										<h6 class="fz-16 fw-400 text-white">JSS International</h6>
										<p class="text-secondary">Al Barsha South, Dubai, United Arab EmiratesDistance: 1.03 km</p>
									</div>
									<div class="col-xl-4 col-lg-6">
										<h4 class="fz-20 fw-600 font-2 text-white mb-2">Near by Market</h4>
										<h6 class="fz-16 fw-400 text-white">JSS International</h6>
										<p class="text-secondary">Al Barsha South, Dubai, United Arab EmiratesDistance: 1.03 km</p>
									</div>
								</div>
							</div>
							<div class="preperty-agent-profile p-15">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<div class="preperty-agent-profile-img">
											<img src="assets/images/profile-img.png" alt="" class="">
											<h4 class="fz-20 fw-600 font-2 text-white mb-2 text-center">Fatima Ezzahra Elhabib</h4>
											<h6 class="fz-16 fw-400 text-secondary text-center">Property Consultant</h6>
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div class="preperty-agent-profile-rgt">
											<h3 class="fz-20 fw-600 font-2 mb-2 text-center primary-clr text-uppercase">Book your viewing</h3>
											<h5 class="fz-16 fw-400 mb-2 text-center text-white">And our agent will show you property</h5>
											<div class="preperty-calendar">
												<span>Fri. 6 oct</span>
												<span>Fri. 7 oct</span>
												<span>Fri. 8 oct</span>
												<span>Fri. 9 oct</span>
												<span class="active">Fri. 10 oct</span>
												<span>Fri. 11 oct</span>
												<span>Fri. 12 oct</span>
												<span>Fri. 13 oct</span>
												<span>Fri. 14 oct</span>
												<span>Fri. 15 oct</span>
												<span>Fri. 16 oct</span>
												<span>Fri. 17 oct</span>
												<span>Fri. 18 oct</span>
												<span>Fri. 19 oct</span>
												<span>Fri. 20 oct</span>
												<span>Fri. 21 oct</span>
												<span>Fri. 22 oct</span>
												<span>Fri. 23 oct</span>
												<span>Fri. 24 oct</span>
												<span>Fri. 25 oct</span>
												<span>Fri. 26 oct</span>
												<span>Fri. 27 oct</span>
												<span>Fri. 28 oct</span>
												<span>Fri. 29 oct</span>
												<span>Fri. 30 oct</span>
											</div>
											<form action="" class="row align-items-center">
												<div class="col-lg-6 col-md-6 col-sm-6 mb-5">
													<input type="text" class="form-control" placeholder="Enter Name">
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 mb-5">
													<input type="number" class="form-control" placeholder="Enter Phone Number">
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 mb-5">
													<input type="email" class="form-control" placeholder="Enter Email Address">
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-check">
																<input class="form-check-input" type="radio" name="appoiment" id="call" checked>
																<label class="fw-400 primary-clr fz-16" for="call">
																	IN PERSON
																</label>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6">
															<div class="form-check">
																<input class="form-check-input" type="radio" name="appoiment" id="video">
																<label class="fw-400 primary-clr fz-16" for="video">
																	VIDEO CHAT
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<button class="thm-btn w-100" type="button">Submit</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="similar-product">
								<h3 class="fz-20 fw-600 text-white font-2 text-center mb-2">Similar Properties</h3>
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="product-innr">
											<div class="product-img">
												<img src="assets/images/product-01.png" alt="">
												<span class="product-rating"><i class="fas fa-star"></i> 4.5</span>
											</div>
											<div class="product-content">
												<h4><a href="javascript:void(0);">lorem ipsum is a placeholder text .....</a></h4>
												<p><i class="fas fa-map-marker-alt me-1"></i> Jumeirah Golf Estates</p>
												<h6 class="text-white">Penthouses</h6>
												<div class="product-amenties">
													<span><i class="fal fa-bed me-1"></i> 6</span>
													<span><i class="fal fa-mug me-1"></i> 8</span>
													<span><i class="far fa-expand-arrows me-1"></i> 500 Sq. Ft.</span>
												</div>
												<div class="product-prc">
													<div>
														<p>AUD 12,000,000</p>
													</div>
													<div>
														<a href="javascript:void(0);"><i class="far fa-bookmark"></i></a>
														<a href="javascript:void(0);"><i class="fas fa-sliders-h"></i></a>
													</div>
												</div>
											</div>
											<div class="product-social">
												<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
												<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
												<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="product-innr">
											<div class="product-img">
												<img src="assets/images/product-02.png" alt="">
												<span class="product-rating"><i class="fas fa-star"></i> 4.5</span>
											</div>
											<div class="product-content">
												<h4><a href="javascript:void(0);">lorem ipsum is a placeholder text .....</a></h4>
												<p><i class="fas fa-map-marker-alt me-1"></i> Jumeirah Golf Estates</p>
												<h6 class="text-white">Penthouses</h6>
												<div class="product-amenties">
													<span><i class="fal fa-bed me-1"></i> 6</span>
													<span><i class="fal fa-mug me-1"></i> 8</span>
													<span><i class="far fa-expand-arrows me-1"></i> 500 Sq. Ft.</span>
												</div>
												<div class="product-prc">
													<div>
														<p>AUD 12,000,000</p>
													</div>
													<div>
														<a href="javascript:void(0);"><i class="far fa-bookmark"></i></a>
														<a href="javascript:void(0);"><i class="fas fa-sliders-h"></i></a>
													</div>
												</div>
											</div>
											<div class="product-social">
												<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
												<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
												<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="product-innr">
											<div class="product-img">
												<img src="assets/images/product-03.png" alt="">
												<span class="product-rating"><i class="fas fa-star"></i> 4.5</span>
											</div>
											<div class="product-content">
												<h4><a href="javascript:void(0);">lorem ipsum is a placeholder text .....</a></h4>
												<p><i class="fas fa-map-marker-alt me-1"></i> Jumeirah Golf Estates</p>
												<h6 class="text-white">Penthouses</h6>
												<div class="product-amenties">
													<span><i class="fal fa-bed me-1"></i> 6</span>
													<span><i class="fal fa-mug me-1"></i> 8</span>
													<span><i class="far fa-expand-arrows me-1"></i> 500 Sq. Ft.</span>
												</div>
												<div class="product-prc">
													<div>
														<p>AUD 12,000,000</p>
													</div>
													<div>
														<a href="javascript:void(0);"><i class="far fa-bookmark"></i></a>
														<a href="javascript:void(0);"><i class="fas fa-sliders-h"></i></a>
													</div>
												</div>
											</div>
											<div class="product-social">
												<a href="javascript:void(0);"><i class="far fa-phone fa-rotate-90"></i></a>
												<a href="javascript:void(0);"><i class="fab fa-whatsapp"></i></a>
												<a href="javascript:void(0);"><i class="far fa-envelope"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="nearby-area dble-brdr p-15 mt-4 px-0">
								<h3 class="fz-20 fw-600 text-white font-2 text-center mb-2">Areas nearby</h3>
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="agent-slider-img">
											<img src="assets/images/area-img-01.png" alt="">
											<div class="agent-contnt">
												<h4 class="text-white">Dubai Marina</h4>
												<h5 class="text-white">Available apartments: 20</h5>
												<p class="mb-0"> <a href="javascript:void(0);">Explorw Now</a> </p>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="agent-slider-img">
											<img src="assets/images/area-img-02.png" alt="">
											<div class="agent-contnt">
												<h4 class="text-white">Dubai Marina</h4>
												<h5 class="text-white">Available apartments: 20</h5>
												<p class="mb-0"> <a href="javascript:void(0);">Explorw Now</a> </p>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<div class="agent-slider-img">
											<img src="assets/images/area-img-03.png" alt="">
											<div class="agent-contnt">
												<h4 class="text-white">Dubai Marina</h4>
												<h5 class="text-white">Available apartments: 20</h5>
												<p class="mb-0"> <a href="javascript:void(0);">Explorw Now</a> </p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="review-rgt mt-5">
								<div class="owl-carousel owl-theme" id="testimonial-slider">
									<div class="item review-slider-item">
										<div class="review-slider-innr">
											<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s”</p>
											<div class="review-slider-innr-star">
												<p>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
												</p>
												<h5>Jackson James</h5>
											</div>
										</div>
										<img src="assets/images/testimonial-img-01.png" alt="">
									</div>
									<div class="item review-slider-item">
										<div class="review-slider-innr">
											<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s”</p>
											<div class="review-slider-innr-star">
												<p>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
												</p>
												<h5>Jackson James</h5>
											</div>
										</div>
										<img src="assets/images/testimonial-img-02.png" alt="">
									</div>
									<div class="item review-slider-item">
										<div class="review-slider-innr">
											<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s”</p>
											<div class="review-slider-innr-star">
												<p>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
													<span class="fas fa-star"></span>
												</p>
												<h5>Jackson James</h5>
											</div>
										</div>
										<img src="assets/images/testimonial-img-03.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4">
						<div class="profile-card sticky-top">
							<img src="assets/images/profile-img.png" alt="">
							<h5 class="text-white">Fatima Ezzahra Elhabib</h5>
							<p class="m-0">Property Consultant</p>
							<div class="prfl-card-btn">
								<a href="javascript:void"><i class="far fa-envelope me-2"></i>Email</a>
								<a href="javascript:void"><i class="far fa-phone me-2 fa-rotate-90"></i>Call</a>
								<a href="javascript:void"><i class="fab fa-whatsapp me-2"></i>Whatsapp</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="thm-footer tp-space">
			<div class="container">
				<div class="heading justify-content-between align-items-center">
					<div class="heading-icon">
						<img src="assets/images/heading-icon.png" alt="">
					</div>
					<div class="heading-content">
						<h3 class="text-white">Contact Us</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-md-6 col-sm-12">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<ul class="ftr-lnk">
									<li><a href="javascript:void(0);">Sell</a></li>
									<li><a href="javascript:void(0);">Rent</a></li>
									<li><a href="agent-listing.html">Agents</a></li>
									<li><a href="javascript:void(0);">Projects</a></li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<ul class="ftr-lnk">
									<li><a href="properties-list.html">Apartments</a></li>
									<li><a href="properties-list.html">Penthouses</a></li>
									<li><a href="properties-list.html">Townhouses</a></li>
									<li><a href="properties-list.html">Villas</a></li>
								</ul>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<ul class="ftr-lnk">
									<li><a href="about-us.html">About Us </a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li><a href="all-reviews.html">Reviews</a></li>
									<li><a href="blog.html">News & Blogs</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-6 col-sm-12">
						<div class="ftr-contact text-end tp-header-lft">
							<h4>Dubai, UAE</h4>
							<p>P.O Box 15254,Al Ain,Al Ain (19317)</p>
							<ul>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-telegram-plane"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
								</li>
								<li>
									<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
								</li>
							</ul>
							<a href="javascript:void(0);" class="ftr-btn">Call Us</a>
						</div>
					</div>
				</div>
			</div>
			<section class="copyright">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<p class="text-white mb-0">SM Super Moda Real estate ©2023 All Rights Reserved</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-end">
							<ul class="copyright-lnk">
								<li><a href="javascript:void(0);">Terms and conditions </a></li>
								<li><a href="javascript:void(0);">privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<!-- Jquery -->
		<script type="text/javascript" src="assets/js/jquery-3.6.0.js"></script>
		<!-- Bootstrap -->
		<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
		<!-- Owl-Carousel -->
		<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
		<!-- Custom -->
		<script type="text/javascript" src="assets/js/script.js"></script>
	</body>
</html>
<div class="modal fade filter-modal" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Filter</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" class="row filter-frm">
					<div class="col-lg-12 mb-4 frm-bx">
						<label for="">Search</label>
						<input type="text" class="form-control" placeholder="Properties or locations">
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Purchase</label>
						<select class="form-select">
							<option value="">Rent</option>
							<option value="">Buy</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Property Type</label>
						<select class="form-select">
							<option value="">Aparments</option>
							<option value="">Villa</option>
							<option value="">Penthouse</option>
							<option value="">Town House</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Bedrooms</label>
						<select class="form-select">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
							<option value="">5</option>
							<option value="">6</option>
							<option value="">7</option>
							<option value="">8</option>
							<option value="">9</option>
							<option value="">10</option>
						</select>
					</div>
					<div class="col-lg-6 col-md-4 col-sm-6 mb-4 frm-bx">
						<label for="">Currency</label>
						<select class="form-select">
							<option value="">1M - 100M/AED</option>
							<option value="">1M - 100M/AED</option>
						</select>
					</div>
					<div class="col-lg-12 text-center">
						<button class="thm-btn w-50">Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>